<h3 class="mb-3"><i class="fa-solid fa-plus fa-fw"></i> Agregar película</h3>

<form>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group mb-3">
        <label>Título</label>
        <input type="text" class="form-control" />
      </div>
      <label>
        <input type="checkbox"> El título y el título original son iguales
      </label>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group mb-3">
        <label>Título original</label>
        <input type="text" class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group mb-3">
        <label>Año</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group mb-3">
        <label>Fecha en que se vio</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group mb-3">
        <label>Idioma <small>(en paréntesis agrega indicaciones adicionales)</small></label>
        <input type="text" class="form-control" />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success">
    <i class="fa-solid fa-plus fa-fw"></i> Agregar película
  </button>
</form>


<hr/>

<app-go-back></app-go-back>
