<section class="home-pelicula">
  <div class="row">
    <div class="col-12 col-lg-6">
      <a href="#">
        <div class="card">
          <div class="card-body">
            <h4><i class="fa-solid fa-plus fa-fw"></i> Agregar película</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4>
            <i class="fa-solid fa-film fa-fw"></i>
            Consultar película: /pelicula/:id
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
