.home-pelicula {
  .card-body {
    text-align: center;
  }

  a {
    color: black;
    text-decoration: none;

    .card-body {
      transition: box-shadow 0.1s linear;
    }

    &:hover {
      .card-body {
        box-shadow: 5px 5px 5px black;
      }
    }
  }
}
